declare namespace {{ namespace }} {
  {% for type in list -%}
    {%- if type.props.length %}
      {%- if type.isEnum %}
        enum {{ type.typeName | safe }} 
      {%- else %}
        type {{ type.typeName | safe }} =
      {%- endif %}
      {%- for prop in type.props %}
          {
          {%- for p in prop %}
            {%- if p.desc %}
              /** {{ p.desc }} */
            {%- endif %}
            '{{ p.name }}'{{ '' if p.required else '?' }}: {{ p.type | safe }};
          {%- endfor %}
          }
        {{ '' if loop.last === true else ' & '  }}
      {%- endfor %}
    {%- else %}
      {%- if type.isEnum  %}
        enum {{ type.typeName | safe }} {{ type.type }};
      {%- else %}
        type {{ type.typeName | safe }} = {{ type.type }};
      {%- endif %}
    {%- endif %}
  {% endfor %}
}