/* eslint-disable */
{%- if config.mockGenerateType === 'MOCKJS' %}
const Mock = require('mockjs')
{%- endif %}

const dist = {{ fakeData | safe }}

module.exports = {
  "{{ method }} {{ path }}": (req, res) => {
    {%- if config.mockGenerateType === 'MOCKJS' %}
      const response = Mock.mock({{ defaultScene | safe }}).data
    {%- else %}
      const response = {{ defaultScene | safe }}.data
    {%- endif %}
    {%- if defaultHeaders !== null %}
    res.set({{ defaultHeaders | safe }})
    {%- endif %}
    {%- if config.mockDelayTime > 0 %}
    setTimeout(() => {
      res.status({{ defaultStatusCode | safe }}).send(response)
    }, {{ config.mockDelayTime | safe }})
    {%- else %}
    res.status({{ defaultStatusCode | safe }}).send(response)
    {%- endif %}
  },
};
